body, div {
    text-align: center;
    box-sizing: border-box;
}

.flex-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    clear: both;
}

button {
    border: 1px solid #b0b0f0;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    margin: center;
}

#left {
    height: 2fr;
    width: 1fr;
    grid-column: 1 / 2;
    grid-row: span 2;
    order: 1;
}

#top {
    height: 1fr;
    width: 2fr;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    order: 2;
}

#bottom {
    height: 1fr;
    width: 2fr;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    order: 3;
}

#right {
    height: 2fr;
    width: 1fr;
    grid-column: 4 / 5;
    grid-row: span 2;
    order: 4;
}

/* modals */
#modalBackground {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 2s;
}

.modal {
    padding: 1em;
    background-color: #c1d3f8;
    display: block;
    position: absolute;
    transition-duration: 2s;
}

#introModal {
    width: 25vw;
    min-height: 25vh;
    height: min-content;
    top: -50vh;
}

#endGameModal {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25vh auto;
    font-size: 0.5rem;
    display: none;
    width: 12.5vw;
    height: 12.5vh;
    text-align: center;
}

#restart {
    width: 5em;
    height: 1.5em;
    background-color: #24388f;
    text-decoration-color: #424141;
}

#restart:hover {
    background-color: #16297e;
    text-decoration-color: #4e4b4b;
    transition-duration: .5s;
    cursor: pointer;
}

div.initIntro { 
    transform: translate(0, 75vh);
}

div#endGameModal.initEnd {    
    display: flex;
    transform: scale(2);
}